@charset "UTF-8";
/* CSS Document */

/* Global Settings Start */
body {
	font-family: "Calibri", sans-serif;
	background: #e6e6e6 url(../images/logo_bg.png) center -400px no-repeat;
	font-size: 12px;
	color: #444;
}

textarea { font-family: "Calibri", sans-serif; }

#wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
#wrapper header {
	width: 960px;
	height: 200px;
	left: 50%;
	margin-left: -480px;
	padding: 0 10px;
	overflow: hidden;
	float: left;
	position: relative;
}

#logo {
	height: 117px;
	width: 460px;
	margin: 25px 0 0 24px;
	position: absolute;
}

#profilemenu {
	height: 35px;
	background-color: #ffffff;
	float: right;
	-moz-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}

.user {
	font-size: 12px;
	text-align: left;
	padding: 7px 15px 0 0;
	text-indent: 5px;
	border-right: 1px solid #bbb;
	float: left;
  height: 28px;
}
.user .text
{
  line-height: 25px;
  display: inline-block;
  height: 25px;
  margin-top: -2px;
}

#profilemenu .user a
{
  text-decoration: none!important;
  color: #555;
  font-weight: bold;
}
#profilemenu .user .pic
{
  float: left;
  margin: -3px 0 0 10px;
}
#profilemenu .user .pic img
{
  width: 25px; height: 25px;
}

.icons {
	height: 35px;
	border-right: 1px solid #bbb;
	float: left;
  padding-right: 15px;
}

.icons ul li {
	width: 20px;
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}

.icons ul li a {
	width: 20px;
	height: 20px;
	float: left;
}

#profilemenu .count
{
  background: #ed1a96;
  color: White;
  font-weight: bold;
  font-size: 11px;
  width: auto; height: auto;
  display: inline-block;
  padding: 1px 3px;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  position: absolute;
  top: 4px;
  right: 105px;
}



.logout {
	width: 54px;
	float: left;
	height: 22px;
	text-align: center;
	font-size: 11px;
	padding-top: 10px;
}

.logout a {
	text-decoration: none;
	color: #bbb;
}

.logout a:hover {
	color: #000000;
}

#menubar {
	width: 960px;
	height: 36px;
	float: left;
	margin-top: 165px;
	position: absolute;
}

#menu {
	width: 226px;
	height: 35px;
	position: absolute;
	margin-left: 158px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 230px;
}

#menu ul li {
	width: 110px;
	height: 35px;
	float: left;
	text-align: center;
	background-color: #ffffff;
	-moz-border-radius: 7px 0 0 0;
	border-radius: 7px 0 0 0;
	padding: 2px 2px 0 2px;
}

#menu ul li+li {
	margin-left: 2px;
	-moz-border-radius: 0 7px 0 0;
	border-radius: 0 7px 0 0;
}

#menu ul li a {
	width: 108px;
	height: 31px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
	-moz-border-radius: 7px 0 0 0;
	border-radius: 7px 0 0 0;
	display: block;
	color: #bbb;
	font-size: 14px;
	text-decoration: none;
	line-height: 31px;
}

#menu ul li+li a {
	-moz-border-radius: 0 7px 0 0;
	border-radius: 0 7px 0 0;
}

#menu ul li a:hover, #menu ul li.active a{
	color: #000000;
	position: relative;
	z-index: 10;
	background-color: #fff;
}

#searchbar {
	margin-left: 645px;
	position: absolute;
	width: 313px;
	height: 33px;
	padding: 2px 2px 0 2px;
	background-color: #ffffff;
	-moz-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}

#searchbar form {
	width: 303px;
	height: 23px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
	-moz-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	padding: 4px;
	position: relative;
	z-index: 10;
	background-color: #fff;
}

#searchbar form input.keyword {
	margin: 0;
	padding: 0 0 0 10px;
	width: 178px;
	height: 22px;
	border: 1px solid #bbb;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	float: left;
}

#searchbar form select#category {
	width: 85px;
	height: 24px;
	float: left;
}

#searchbar form input.send {
	width: 28px;
	height: 24px;
	float: left;
	margin-left: 0;
	text-indent: -10000px;
	background-image: url(../images/searchicon.jpg);
	background-position: -2px -1px;
	background-repeat: no-repeat;
	border: 1px solid #bbb;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

section {
	width: 100%;
	background-color: #ffffff;
	float: left;
	position: relative;
	z-index: 1;
	margin-top: -4px;
}

#topborder {
	width: 100%;
	border-top: 1px solid #bbb;
	margin-top: 2px;
	overflow: hidden;
}

#contentwrapper {
	width: 950px;
	left: 50%;
	margin-left: -470px;
	padding: 15px 0 15px 10px;
	float: left;
	position: relative;
}

#sidebar {
	width: 150px;
	padding: 0;
	float: left;
}

#sidebar h2 {
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	border-left: 2px solid #0ab1f0;
	text-indent: 8px;
	height: 25px;
	line-height: 25px;
	margin: 0;
	color: #666;
  background: #fafbfb;
}

#sidebar ul {
	margin: 15px 0 35px 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

#sidebar ul a {
	color: #444;
	text-decoration: none;
	padding: 5px 0;
	display: block;
	text-indent: 8px;
}
#sidebar ul a:hover {
	color: #0ab1f0;
	background: #fafafa;
	border-color: #0ab1f0;
}
#sidebar a.active 
{ 
  font-weight: bold; 
  color: #0ab1f0;
  text-indent: 18px;
  background: url('../images/arrow-sidebar.png') no-repeat 9px center;
}

#overview { float: left; width: 800px; }
#overview.start { width: 795px; }

.boxcontent {
	width: 250px;
	height: 327px;
	margin: 0 0 20px 15px;
	position: relative;
	background-color: #fff;
	-moz-box-shadow: 2px 2px 10px #d2d2d2;
	-webkit-box-shadow: 2px 2px 10px #d2d2d2;
	box-shadow: 2px 2px 10px #ccc;
	float: left;
}
.boxcontent:hover { box-shadow: 2px 2px 10px #aaa; }

.projectcategory {
	height: 32px;
	width: 74px;
	margin: 10px -5px 0 0;
	float: right;
	padding-top: 3px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

.mmt {
	background-image: url(../images/mmt.png);
	background-repeat: no-repeat;
}

.mma {
	background-image: url(../images/mma.png);
	background-repeat: no-repeat;
}

.projectstatus {
	float: right;
	margin: 10px 10px 0 0;
	width: 80px;
	height: 35px;	
}

.projectstatus span {
	text-indent: -10000px;
	width: 25px;
	height: 25px;
	margin-left: 2px;
	float: right;
}

.projectstatus span.statusconcept {
	background-image: url(../images/statusconcept.png);
	background-repeat: no-repeat;
}

.projectstatus span.statussearch {
	background-image: url(../images/statussearch.png);
	background-repeat: no-repeat;
}

.projectinfo {
	width: 230px;
	float: left;
	margin: 0 10px 5px 10px;
}
	
.projectinfo h3 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
}

.infotxt {
	margin: 5px 0 0 0;
	font-size: 11px;
}

.follower {
	font-size: 11px;
	color: #00aeef;
}

.details {
	position: absolute;
	bottom: 30px; right: 10px;
	margin: 10px 0 0 0;
}

.details a {
	font-size: 11px;
	color: #000;
}

.details a:hover {
	color: #666;
}

.projectadmin {
	height: 25px;
	width: 250px;
	background-color: white;
	float: left;
	position: absolute;
	margin-top: 302px;
	border-top: 1px solid #eee;
}

.projectadmin .left, .projectadmin .right {
	padding: 0;
	font-size: 11px;
	color: black;
	margin: 6px 0 0 10px;
	float: left;
}
.projectadmin .right { float: right; margin: 6px 10px 0 0; }

.projectadmin a {
	color: #00aeef;
	text-decoration: none;
}

.projectadmin a:hover {
	text-decoration: underline;
}



/* version a³
.boxcontent {
	width: 250px;
	height: 300px;
	margin: 0 0 20px 15px;
	position: relative;
	background-color: #fff;
	-moz-box-shadow: 2px 2px 10px #d2d2d2;
	-webkit-box-shadow: 2px 2px 10px #d2d2d2;
	box-shadow: 2px 2px 10px #ccc;
	float: left;
}
.boxcontent:hover { box-shadow: 2px 2px 10px #aaa; }

.projectcategory {
	height: 32px;
	width: 74px;
	margin: 10px -5px 0 0;
	float: right;
	padding-top: 3px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
  display: none;
}
.boxcontent .cover img
{
  width: 250px;
}

.mmt {
	background-image: url(../images/mmt.png);
	background-repeat: no-repeat;
}

.mma {
	background-image: url(../images/mma.png);
	background-repeat: no-repeat;
}

.projectstatus {
	float: right;
	margin: 10px 10px 0 0;
	width: 80px;
	height: 35px;	
}

.projectstatus span {
	text-indent: -10000px;
	width: 25px;
	height: 25px;
	margin-left: 2px;
	float: right;
}

.projectstatus span.statusconcept {
	background-image: url(../images/statusconcept.png);
	background-repeat: no-repeat;
}

.projectstatus span.statussearch {
	background-image: url(../images/statussearch.png);
	background-repeat: no-repeat;
}

.projectinfo {
	width: 250px;
	float: left;
	margin: 0 0 5px 0;
}
	
.projectinfo h3 {
	padding: 5px 10px 10px 10px;
	font-size: 18px;
  border-bottom: 1px solid #f1f6f7;
	font-weight: normal;
  color: #00aeef;
}

.infotxt {
	margin: 10px 10px 0 10px;
	font-size: 11px;
}

.follower {
	font-size: 11px;
	color: #00aeef;
}

.details {
	position: absolute;
	bottom: 124px; right: 10px;
	margin: 10px 0 0 0;
}

.details a {
	font-size: 11px;
	color: #000;
}

.details a:hover {
	color: #666;
}

.projectadmin {
	height: 27px;
	width: 250px;
	background-color: #fafbfb;
	float: left;
	position: absolute;
	margin-top: 272px;
	border-top: 1px solid #dae6e9;
}

.projectadmin .left, .projectadmin .right {
	padding: 0;
	font-size: 11px;
	color: black;
	margin: 6px 0 0 10px;
	float: left;
}
.projectadmin .right { float: right; margin: 6px 10px 0 0; }

.projectadmin a {
	color: #00aeef;
	text-decoration: none;
}

.projectadmin a:hover {
	text-decoration: underline;
}


*/

#footercontent {
	width: 950px;
	left: 50%;
	margin-left: -470px;
	padding: 15px 0 30px 10px;
	overflow: hidden;
	float: left;
	position: relative;
}

.sitemap {
	width: 150px;
	margin-right: 10px;
	float: left;
}

.sitemap h4 {
	font-size: 16px;
	text-transform: uppercase;
	color: #666;
	
	margin-top: 5px;
}

.sitemap ul {
	list-style: none;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.sitemap ul li a {
	color: #666;
	text-decoration: none;
	line-height: 150%;
}

.sitemap ul li a:hover {
	color: #000;
}

#mediacube {
	width: 400px;
	position: relative;
  margin: 50px auto 0 auto;
	height: 100px;
}

#mediacube ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	margin-right: 5px;
}

#mediacube ul li {
	width: 90px;
	height: 33px;
	float: left;
}

#mediacube ul li+li {
	margin-left: 66px;
}

#mediacube ul li.linkfh {
	width: 82px;
	height: 66px;
}

#mediacube ul li.linkmma {
	text-indent: -10000px;
	background-image:  url(../images/mma_logo.png);
	margin-top: 15px;
}

#mediacube ul li.linkmmt {
	text-indent: -10000px;
	background-image:  url(../images/mmt_logo.png);
	margin-top: 11px;
}


#mediacube ul li.linkfh {
	text-indent: -10000px;
	background-image:  url(../images/fh_logo.png);
	margin-top: -4px;
}
	
/* Global Setting End */


/* projektansicht */

#projectdetails, #dashboardarea
{
  margin-left: 15px;
  float: left;
  width: 550px;
}
#projectdetails.wide { width: 785px; }
#projectdetails .center
{
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
}
#projectdetails .getleft
{
  width: 550px;
  float: left;
}
#topbar {
  overflow: hidden;
	border-bottom: 1px solid #eee;
  padding: 10px 0 8px 0;
  margin-bottom: 20px;
  /*background: #2c2c2c;*/
}
#topbar .stdBtn {
  margin-left: 20px;
}
#topbar .stdBtn:first-child {
  margin-left: 0;
}
#projectstatus {
	width: 200px;
	float: left;
}

.icon {
	text-indent: -10000px;
	float: left;
	width: 21px;
	height: 21px;
	background-color: #000;
}
/*
.idea {
	background-image: url(../images/icon_idea.png);
}

.concept {
	background-image: url(../images/icon_concept.png);
}

.member {
	background-image: url(../images/icon_member.png);
}*/



#projectdetails #projecthead h5 {
	font-size: 22px;
	color: #555;
	font-weight: normal;
  margin-top: -5px;
}

#projectdetails #projecthead .category, #npformular .category {
	font-size: 12px;
	color: black;
	font-weight: normal;
	margin: 5px 0 10px 0;
	list-style: none;
	overflow: hidden;
}
#projectdetails #projecthead .category li, #npformular .category li 
{
  padding: 3px 8px;
  border: 1px solid #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  margin-right: 3px;
  color: #888;
}


#projectdetails #projectinfo, #projectdetails #projectcover  {
	float: left;
	width: 785px;
  overflow: hidden;
}

#projectdetails #projectinfo p.desc {
	font-size: 12px;
	margin: 17px 0 0 0;
	color: #777;
}

#projectdetails #projectupdates {
	float: left;
	width: 550px;
	margin-bottom: 50px;
}

#projectdetails #projectupdates h5 {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	display: block;
	border-bottom: 1px solid #000;
	padding-bottom: 2px;
	margin: 0;
}

#projectdetails #projectupdates .update {
	width: 550px;
	padding: 10px 0;
	border-bottom: 1px solid #000;
	overflow: hidden;
}

#projectdetails #projectupdates .update .projectavatar {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
	background-color: #666;
}

#projectdetails #projectupdates .update .updatecontent {
	width: 480px;
	float: left;
}

#projectdetails #projectupdates .update h6 {
	
	font-weight: bold;
	font-size: 12px;
	margin: 0;
}

#projectdetails #projectupdates .update p {
	font-size: 12px;
}

#projectdetails #projectupdates .update p a {
	font-size: 12px;
	color: #000;
	text-decoration: underline;
}

#projectdetails #projectupdates .update p a:hover {
	color: #666;
}

#projectdetails #projectupdates .update .updatemedia img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
	background-color: #666;
}
	
#projectdetails #projectupdates .update .updatemember {
	width: 190px;
	float: left;
}
	
#projectdetails #projectupdates .update .updatemember img {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
	background-color: #666;
}

#projectdetails #projectupdates .update .updatemember p {
	float: left;
	margin: 0;
}

#projectdetails #projectupdates .update .updatestatus img {
	height: 22px;
	width: 22px;
	float: left;
	margin-right: 10px;
	background-color: #666;
}

#projectdetails #projectupdates .update .updatestatus p {
	float: left;
	margin: 0;
}

#projectdetails #media, #projectdetails #updates {
	margin-bottom: 50px;
	width: 550px;
	float: left;
	overflow: hidden;
}

#projectdetails #media h5, #projectportfolio h5 , #projectdetails h5.hl, #updates h5 {
  font-size: 12px;
	text-transform: uppercase;
	display: block;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	color: #666;
  background: #fafbfb;
  text-indent: 8px;
}
#projectdetails #media h5 span, #projectportfolio h5 span, #projectdetails h5.hl span, #updates h5 span { font-weight: normal; }

#rightbar {
	width: 220px;
	padding-left: 10px;
	float: right;
}

#rightbar h5, #rightbar h2 {
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	height: 25px;
	line-height: 25px;
	margin: 0;
	color: #666;
  background: #fafbfb;
  text-indent: 8px;
}
#rightbar h5 span, #rightbar h2 span { font-weight: normal; }

#rightbar #projectprogress, #rightbar #projectstate {
	margin-bottom: 35px;
	overflow: hidden;
}
#projectstate .status, #projectprogress .status
{ 
  margin-top: 20px;
  background: #0ab1f0; 
  color: White; 
  font-weight: bold;
  font-size: 14px; 
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  text-align: center;
}
#rightbar #searchingmember {
	margin-bottom: 35px;
	overflow: hidden;
}

#rightbar #searchingmember ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	margin: 10px 0;
	overflow: hidden;
}
#rightbar #searchingmember li {
  padding: 5px 0 5px 6px;
  margin: 0 3px 3px 0;
  color: #444;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
#rightbar #teammember {
	margin-bottom: 35px;
	overflow: hidden;
	display: block;
}

#rightbar #teammember #memberlist {
	margin-top: 10px;
}

#rightbar #teammember #memberlist hr {
	height: 1px;
	background: #eee;
	border: 0;
	margin: 0 0 10px 0;
}


#rightbar #myproject .project, #rightbar #followprojects .project {
	width: 230px;
	float: left;
	margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #e7edef;
}
#rightbar #teammember .member
{
  width: 230px;
	float: left;
	margin-bottom: 10px;
}

#rightbar #teammember .member p, #rightbar #myproject .project p, #rightbar #followprojects .project p {
	font-size: 14px;
	margin: 0;
	width: 175px;
	line-height: 14px;
	display: inline-block;
}
#rightbar #teammember .member a, #rightbar #followprojects .project a
{
  color: #444;
  text-decoration: none;
  font-weight: bold;
}
#rightbar #myproject .project a
{
  color: Black;
  text-decoration: none;
}
#rightbar #myproject .project a:hover
{
  text-decoration: underline;
}
#rightbar #teammember .member a:hover, #rightbar #followprojects .project a:hover
{
  color: Black;
  text-decoration: underline;
}

#rightbar #teammember .member p span, #rightbar #myproject .project p span, #rightbar #followprojects .project p span {
	font-size: 11px;
	font-weight: normal;
	color: #777;
}

#rightbar #teammember .member p .sl, #rightbar #myproject .project p .sl, #rightbar #followprojects .project p .sl {
	font-size: 12px;
}

#rightbar .pic {
	float: left;
	width: 40px;
	height: 40px;
	background-color: #666;
	margin-right: 5px;
}

#rightbar #follower #followerlist {
	margin-top: 10px;
}

#rightbar #follower #followerlist img {
	width: 30px;
	height: 30px;
	margin: 0 2px 2px 0;
	float: left;
	background-color: #666;
	border: 2px solid white;
}
#rightbar #follower #followerlist img:hover { border-color: #0ab1f0; }

/*neues Projekt*/

#npformular {
	width: 560px;
	margin-left:150px;
	float: left;
}

#npformular p {
	width: 240px;
	float: right;
	font-size: 11px;
	margin-top: 6px;
}
	
#npformular h2 {
	font-size:12px;
	margin-bottom:-1px;
	font-weight:normal;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 5px;
}
	
#npformular h1 {
	font-size:18px;
	font-weight:bold;
}

#npformular a {
	text-decoration: none;
	color:#000000;
	font-size:11px;
	border: 1px solid #bbb;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 8px 8px 8px 8px;
	padding:2px 5px 2px 5px;
	margin-top:3px;
}

#npformular a:hover{
	color:#999999;
}

#npformular .inputfield {
	overflow: hidden;
	margin-bottom: 15px;
}

#npformular form input.projekttitel {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:24px;
	padding: 1px 0 0 4px;
	color:#999999;
}

#npformular ul.category {
	display: block;
	font-size: 12px;
	color: black;
	font-weight: normal;
	margin: 5px 0 10px 0;
	list-style: none;
	overflow: hidden;
}

#npformular .category li {
	width: 90%;
    padding: 3px 8px;
	margin: 2px 0;
    border: 1px solid #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #888;
}

#npformular .category li a {
	border: 0;
	margin: 0;
	padding: 2px;
}

#npformular form input.tags {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:24px;
	padding: 1px 0 0 4px;
	margin-bottom:50px;
	color:#999999;
}

#npformular form input.titelbild {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:24px;
	padding: 1px 0 0 4px;
	color:#999999;
}

#npformular form input.name {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:145px;
	height:24px;
	padding: 1px 0 0 4px;
	color:#999999;
}

#npformular form input.taetigkeit {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:145px;
	height:24px;
	padding: 1px 0 0 4px;
	color:#999999;
}

#npformular form select.category {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:22px;
	padding: 4px 0 0 4px;
	color:#999999;
}

#npformular form textarea.kurzbeschreibung {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:120px;
	padding: 4px 0 0 4px;
	color:#999999;
	font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
	font-size: 11px;
}

#npformular form textarea.beschreibung {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:120px;
	padding: 4px 0 0 4px;
	color:#999999;
	font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
	font-size: 11px;
}

.btnabbrechenspeichern{
	float:right;
	margin-top:-35px;
}

.btnabbrechenspeichern a {
	margin-right: 5px;
}

#dashboard {
	width: 220px;
	float: right;
}

#dashboard h2 {
	border-bottom:1px solid #bbb;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin: 0;
	margin-bottom: 10px;
}

#dashboard a {	
	text-decoration: none;
	color: #000000;
	font-size: 11px;
	border: 1px solid #bbb;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 8px 8px 8px 8px;
	padding: 2px 5px 2px 5px;
	overflow: hidden;
}

#dashboard a:hover{
	color:#999999;
}

#dashboard p {
	font-size: 11px;
	float: left;
	margin: 0;
}

#dashboard img {
	float :left;
	height: 40px;
	width: 40px;
	background-color: #666;
	margin-right: 10px;
}

#myproject, #followprojects, #dashboardhead {
	margin-bottom: 35px;
	overflow: hidden;
}
#myproject h2, #followprojects h2, #dashboardhead h2
{
  margin-bottom: 10px;
}
#dashboard .project {
	float: left;
	margin-bottom: 10px;
	width: 220px;
}
	
/*neuanmeldung*/


#newaccountformular {
	width: 560px;
	margin-left:150px;
}

#newaccountformular p {
	width:240px;
	float:right;
	font-size:11px;
	margin: 0;
	margin-top: 6px;
}

#newaccountformular h2 {
	font-size:12px;
	margin-bottom:-1px;
	font-weight:normal;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 5px;
}

#newaccountformular h1 {
	font-size:18px;
	font-weight:bold;
}

#newaccountformular .inputfield {
	overflow: hidden;
	margin-bottom: 15px;
}
	
#newaccountformular form input.firma {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:23px;
	padding: 1px 0 0 4px;
	color:#999999;
}

#newaccountformular form input.ansprechperson {
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:24px;
	padding: 1px 0 0 4px;
	color:#999999;
}

#newaccountformular form textarea.anschrift{
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:120px;
	padding: 4px 0 0 4px;
	color:#999999;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
}
	
#newaccountformular form input.e-mail{
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:24px;
	padding: 1px 0 0 4px;
	color:#999999;
}
	
#newaccountformular form input.website{
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:24px;
	padding: 1px 0 0 4px;
	color:#999999;
}
	
#newaccountformular form input.handy{
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:24px;
	padding: 1px 0 0 4px;
	color:#999999;
}

#newaccountformular form input.username{
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:24px;
	padding: 1px 0 0 4px;
	color:#999999;
}

#newaccountformular form input.password{
	border: 1px solid #bbb;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width:300px;
	height:24px;
	padding: 1px 0 0 4px;
	margin-bottom:20px;
	color:#999999;
}

#newaccountformular a{
	text-decoration: none;
	color:#000000;
	font-size:11px;
	border: 1px solid #bbb;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 8px 8px 8px 8px;
	padding:2px 5px 2px 5px;
	margin-top:3px;
}

#newaccountformular a:hover{
	color:#999999;
}

/* Profilansicht */

#sidebar #avatar {
	width: 153px;
	height: 200px;
	border: 1px solid #666;
	margin-left: -10px;
}

#profildetails {
	float: left;
	width: 785px;
  margin-left: 15px;
}


/* loginpage */

#loginwrapper {
	width: 480px;
	margin: 0 auto;
	overflow: hidden;
}

#loginwrapper header {
	float: left;
	width: 470px;
	height: 170px;
	margin-right: 10px;
}

#loginwrapper header h1 {
	margin: 0;
	padding: 0;
	text-indent: -10000px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	position: relative;
	height: 145px;
	margin-top: 25px;
}

#logininfowrapper {
	width: 226px;
	margin: 0 5px;
	float: left;
	border: 2px solid #fff;
	background-color: #fff;
	-moz-border-radius: 10px 0 0 0;
	border-radius: 10px 0 0 0;
	-moz-box-shadow: 0 5px 5px #888;
	-webkit-box-shadow: 0 5px 5px #888;
	box-shadow: 0 5px 5px #888;
	margin-bottom: 10px;
}

#logininfo {
	border: 1px solid #656565;
	width: 204px;
	-moz-border-radius: 10px 0 0 0;
	border-radius: 10px 0 0 0;
	padding: 5px 10px;
	height: 250px;
}

#loginformwrapper {
	width: 226px;
	margin: 0 5px;
	overflow: hidden;
	border: 2px solid #fff;
	background-color: #fff;
	-moz-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0;
	-moz-box-shadow: 0 5px 10px #888;
	-webkit-box-shadow: 0 5px 10px #888;
	box-shadow: 0 5px 10px #888;
	margin-bottom: 10px;
}

#loginform {
	border: 1px solid #656565;
	width: 204px;
	-moz-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0;
	padding: 5px 10px;
	height: 250px;
}

#logincontent {
	width: 480px;
	float: left;
	overflow: hidden;
}

#logininfo h2 {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 5px;	
}

#logininfo p {
	font-size: 11px;
}

#loginform label {
	font-size: 12px;
	margin-top: 5px;
}

#loginform input {
	margin-left: 3px;
	width: 195px;	
	border: 1px solid #666;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	height: 22px;
	margin-bottom: 10px;
}

#loginform input.passwort {
	margin-bottom: 20px;
}

#loginform .forgot {
	width: 110px;
	float: left;
}

#loginform .forgot a {
	font-size: 11px;
	color: #666;
	text-decoration: underline;
}

#loginform .login {
	border: 2px solid #e6e6e6;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	margin-left: 8px;
}

#loginform .login a {
	border: 1px solid #666;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 2px 5px;
	font-size: 11px;
	width: 70px;
	height: 14px;
	margin: 0;
	color: #000;
	text-decoration: none;
	float: left;
	text-align: center;
}

#loginform .login a:hover {
	color: #999;
}

#loginform p.register {
	margin-top: 30px;
	font-size: 12px;
}

#loginform .formlogin {
	overflow: hidden;
	margin-bottom: 30px;
}

#loginfooter {
	width: 480px;
	float: left;
}

#loginfooter #mediacube {
	float: left;
	margin: 0 40px;
	position: relative;
}


.stdNotice
{
  background: #ecffdd;
  border-bottom: 1px solid #97de5d;
  padding: 12px 15px;
  margin-bottom: 20px;
  color: #439600;
  font-size: 14px;
}
.stdNotice.warning
{
  background: #fff3cf;
  border-color: #e9c34f;
  color: #957000;
}
.stdNotice.info
{
  background: #fafbfb;
  border-color: #dae6e9;
  font-size: 12px;
  padding: 7px 15px;
  color: #5d7277;
  margin-left: 15px;
}
.stdNotice.info img
{
  margin: 0 5px 1px 7px;
}
.stdBtn
{
  height: 31px;
  line-height: 31px;
  color: #444;
  text-align: center;
  padding: 0 8px;
  font-size: 13px;
  display: inline-block;
  cursor: pointer;	
	border: 1px solid #dae3e6;
	background: white url('/images/stdbtn.png') repeat-x 0 0;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
  text-decoration: none;
}
.stdBtn p { border-left: 2px solid White; padding-left: 7px; float: right; }
.stdBtn img { float: left; margin-top: 0; border-right: 1px solid #dae3e6; display: block; padding: 4px 8px 5px 0; }

.stdBtn.no2 { background: #ec0000; background-image: none; border: 0; color: White; margin-right: 0!important; height: 31px;}
.stdBtn.no2 p { margin: 0; padding: 0; border: 0; }
.stdBtn.no3 { margin-left: 20px;}

#dashboardhead .stdBtn { float: left; margin-right: 10px;}
#dashboardhead .stdBtn img
{
  border: none;
  padding-right: 0;
}
#dashboardhead .stdBtn p { border: none;}
.stdBtn:hover { color: Black; }
.stdBtn.no2:hover { color: White; }


#searchingmember .stdBtn, #teammember .stdBtn, #projectinfo .inline .stdBtn, #projectprogress .inline .stdBtn, 
#projectcover .inline .stdBtn, #projectstate .inline .stdBtn 
{
	float: left;
}

.inline .stdBtn
{
  margin: 20px 10px 0 0;
}
#stdTooltip
{
	position: absolute;
	display: none;
	background: white;
	text-decoration: none!important;
	text-align: center;
	padding: 6px 12px;
	font-weight: bold;
	z-index: 1;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0 2px 10px #888;
}

.editBtn
{
  float: left;
  margin-right: 7px;
  border-left: 2px solid #0ab1f0;
  text-indent: -9999px;
  position: relative;
  width: 2px;
}

#projectinfo .image
{
  display: block;
  float: left;
  margin: 0 15px 0 0;
}

.noedit, #rightbar h2
{
  border-left: 2px solid #0ab1f0;
  text-indent: 8px;
}
.clean { float: none; clear: both; }
.clean.hide { visibility: hidden; }
div.hide { display: none; }

.pagination
{
  margin: 10px 0 0 15px;
  height: 30px;
}
.search .pagination { margin: 20px 0 0 3px; }
.pagination em
{
  padding: 3px 6px;
  background: #333;
  color: white;
  border-color: Black;
  text-decoration: none;
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
  font-weight: bold;
}
.pagination a
{
  padding: 3px 6px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #555;
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.pagination a:hover
{
  background: #333;
  color: white;
  border-color: Black;
}
.pagination .disabled 
{
  padding: 3px 6px;
  color: #ccc;
}
.pagination .previous_page { margin-right: 5px; }
.pagination .next_page { margin-left: 5px; }
#updates .pagination
{
  margin: 20px 0 0 0;
}


.right { float: right; }
.left { float: left; }



#projectinfo .inline .eDescription
{
  display: block;
  width: 536px;
  height: 130px;
  padding: 5px;
  color: #555;
}
.inline label
{
  width: 80px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.inline .eName
{
  width: 180px;
  height: 23px;
  text-indent: 5px;
  color: #555;
}

#searchingmember .inline .eName, #projectprogress .inline .eName { width: 185px; float: left; }
#searchingmember .add, #projectprogress .add { float: left; margin: 1px 0 0 7px; cursor: pointer; }

#projectcover .inline .eCoverUpload
{
  	color: #555;
	display: block;
	border: 1px solid #ccc;
	padding: 5px;
	width: 536px;
}

.del img { display: block; }
.del { margin: 2px 0 0 5px; }
#projectinfo .inline #formECat
{
  margin: 5px 5px 0 0;
}

#teammember .editjob
{
  width: 173px;
  height: 20px;
  float: left;
  color: #555;
  text-indent: 5px;
  margin-top: 2px;
  font-size: 12px;
}

.mleft { margin-left: 20px; }

.nodisplay
{
   margin: 10px 0 0 0; 
   text-indent: 10px;
   color: #aaa;
}

/*#stagebar
{
  width: 26px;
  height: 200px;
  background: #ace500;
  border-radius: 13px;
  margin: 20px 0 0 120px;
}*/


#stagebar 
{ 
  margin: 20px 0 15px 0;
}
#stagebar li 
{
  list-style: decimal inside!important; 
  padding: 10px 30px 10px 6px;
  margin: 0 3px 0 0;
  color: #444;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
#stagebar li.atwork
{
  background: url('../images/atwork.png') no-repeat 190px 13px;
  color: #0ab1f0;
  font-weight: bold;
}
#stagebar li.finished
{
  background: url('../images/ready.png') no-repeat 190px 13px;
  color: #bbb;
}

#searchresults tr
{
  display: block;
  padding-bottom: 5px;
  margin-bottom: 2px;
  border-bottom: 1px solid #eee;
  width: 796px;
}
#searchresults .title
{
  width: 250px;
  border-right: 1px solid #eee;
}

#searchresults .title a { color: #0ab1f0; text-decoration: none; }
#searchresults .title h6
{
  color: #0ab1f0;
  font-size: 14px;
}
#searchresults .title a:hover { text-decoration: underline; }
#searchresults .pic
{
 width: 50px;
 padding-top: 3px;
}
#searchresults .count 
{ 
  padding: 0 15px;
  border-right: 1px solid #eee; 
  width: 190px;
  line-height: 20px;
}
#searchresults .count img { float: left; margin: 4px 0 0 0; }
#searchresults .count span { font-weight: bold; }
#searchresults .follow { overflow: hidden; }
#searchresults .follow a { float: left; margin-left: 15px; }

input[type=text], textarea { border: 1px solid #ccc; }
input[type=text] { text-indent: 7px; }

#rightbar #teammember .pic img { width: 40px; height: 40px; }

#searchresults .count ul li
{
  float: left;
  font-style: italic;
}
#searchresults .count ul li:before { content: ', '; }
#searchresults .count ul li:first-child:before { content: ''; }

#resultsuser li
{
  float: left;
  width: 140px;
  margin: 0 25px 25px 0;
  background-color: #fff;
	-moz-box-shadow: 2px 2px 10px #d2d2d2;
	-webkit-box-shadow: 2px 2px 10px #d2d2d2;
	box-shadow: 2px 2px 10px #ccc;
	position: relative;
}
#resultsuser li:hover { box-shadow: 2px 2px 10px #aaa; }
#resultsuser .pic img
{
  width: 140px;
  height: 140px;
}
#resultsuser .nomarg { margin-right: 0!important; }
#resultsuser .name
{
  font-size: 14px;
  color: #0ab1f0;
  font-weight: bold;
  text-decoration: none;
}
#resultsuser .mail
{
  color: #777;
  text-decoration: none;
  font-size: 11px;
}
#resultsuser .name:hover, #resultsuser .mail:hover { text-decoration: underline; }

#resultsuser li p { padding: 9px 0 0 10px; }
#resultsuser li div
{ 
  background: transparent url('../images/opaq.png') repeat; 
  display: block; 
  line-height: 22px; 
  padding-left: 10px;
  position: absolute;
  height: 22px;
  width: 130px;
  top: 118px;
  color: White;
}

#profilhead 
{
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
}
#profilhead .pic
{
  float: left;
  margin: 0 15px 0 0;
}
#profilhead h5 {
	font-size: 22px;
	color: #555;
	font-weight: normal;
  margin-top: -5px;
}
#profilhead .infos { float: left; }
#profilhead .infos p
{
  color: #777;
  margin-top: 10px;
}
#profilhead .infos .link
{
  color: #0ab1f0;
  text-decoration: none;
}
#profilhead .infos a:hover, #projectportfolio p a:hover { text-decoration: underline; }
#profilhead .stdBtn
{
  position:absolute;
  right: 0; bottom: 25px;
}
#projectportfolio li
{
  float: left;
  margin: 0 14px 14px 0;
  width: 145px;
  background-color: #fff;
	-moz-box-shadow: 2px 2px 10px #d2d2d2;
	-webkit-box-shadow: 2px 2px 10px #d2d2d2;
	box-shadow: 2px 2px 10px #ccc;
	position: relative;
}
#projectportfolio li img
{
  width: 145px;
  height: 83px;
}
#projectportfolio li:hover { box-shadow: 2px 2px 10px #aaa; }
#projectportfolio li p { padding: 5px 0 9px 10px; }
#projectportfolio li.nomarg { margin-right: 0!important; }
#projectportfolio p a {
  color: #0ab1f0;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
#projectportfolio .pic img
{
  width: 145px;
  height: 83px;
  display: block;
}

#projectdetails #media { position:relative; }
.next, .prev
{
  position: absolute;
  top: 66px;
  cursor: pointer;
}
.prev { left: 0; } .next { right: 0; }
.mediaslider li 
{ 
  width: 90px!important; 
  height: 90px!important; 
  margin-right: 5px; 
  display: block; 
  float: left;
}

#mediaall li
{
  float: left;
  margin: 0 10px 10px 0;
}
#mediaall li img, #mediaall li { width: 120px; height: 120px; }

.inline .submit
{
  height: 32px!important;
  line-height: 30px;
  color: #444;
  padding: 0 8px 0 47px;
  font-size: 13px;
  display: inline-block;
  cursor: pointer;	
	border: 1px solid #e7e7e7!important;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	float: left;
	margin: 20px 10px 0 0;
}
.inline .submit[disabled=true],.inline .submit[disabled=disabled]
{
  cursor: default;
  opacity: 0.5;
}

.inline { position: relative; overflow: hidden; }
.ajx
{
  position: absolute;
  top: 0; left: 0;
  background: transparent url('../images/spa.png') repeat;
  z-index: 10000;
  text-align: center;
  display: none;
}
.ajx .con { position: relative; overflow: hidden; width: 200px; margin: 0 auto; }

.ajx .ask .msg { font-size: 14px; font-weight: bold; }
.ajx .ask input { margin-left: 14px; }
.edit_project { display: block; }
#searchingmember { position: relative; }


input.hide { display: none; }


/** OVERLAY **/
.overlay
{
	width: 500px;
	display: none;
	margin-left: -250px;
  background: white;
  -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
  padding-bottom: 40px;
  -moz-box-shadow: 2px 2px 10px #ccc;
	-webkit-box-shadow: 2px 2px 10px #ccc;
	box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.overlay h1
{
	width: 460px;
	padding: 15px 20px;
	font-size: 20px;
	background: #2c2c2c; 
  color: White;
  border-bottom: 1px solid #111;
  -webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
  font-weight: normal;
}
.overlay #close
{
	position: absolute;
	margin: -38px 0 0 460px;
}
.overlay .close { cursor: pointer; }
.overlay .content
{
	padding: 15px 0 0 20px;
  overflow-x: hidden;
  max-height: 400px;
  width: 480px;
}
.overlay .content.scroll
{
  overflow-y: scroll;
}
.blockOverlay { background: #fff!important;}
.overlay .text
{
  width: 440px;
  height: 30px;
  border: 1px solid #ccc;
  line-height: 30px;
  text-indent: 10px;
  color: #aaa;
}
.overlay .text.short
{
  width: 200px;
}
.overlay label
{
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
}
.overlay label.nomarg
{
  margin: 0 0 0 5px;
  font-size: 12px;
}
.overlay span.left
{
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}
.overlay .textarea
{
  padding: 10px;
  width: 420px;
  height: 100px;
  border: 1px solid #ccc;
  color: #aaa;
}
.overlay .text, .overlay .textarea
{
  -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.overlay .text:focus, .overlay .textarea:focus
{
  border-color: #00baff;
  color: #555;
}
.overlay hr
{
  width: 440px;
  height: 1px;
  border: 0;
  border-bottom: 1px dotted #ccc;
  background: White;
  margin: 20px 0 18px 0;
  text-align: left;
}

#statusupdate_content
{
  display: block;
  width: 450px;
  height: 15px;
  padding: 5px;
  color: #a0b0b4;
  border-color: #bfcdd0;
  max-height: 75px;
}
#statusupdate_content:focus
{
  color: #555;
}
.newStatusupdateArea
{
  float: left;
  position: relative;
  margin-left: 11px;
}
.newStatusupdateArea img
{
  position: absolute;
  top: 14px; left: -5px;
}
#newStatusupdateForm
{
  padding: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
#newStatusupdateForm .left
{
  width: 27px;
  height: 27px;
  margin-top: 5px;
}
#newStatusupdateForm #statusupdate_submit
{
  width: 23px; height: 23px;
  background: url('../images/vor.png');
  border: 0;
  float: right;
  margin-top: 6px;
  cursor: pointer;
}
#stdProjectStatusUpdates li
{
  padding: 10px;
  border-bottom: 1px dotted #cad4d7;
  overflow: hidden;
  position: relative;
}

/*
#stdProjectStatusUpdates li sub
{
  display: block;
  clear: both;
  margin-top: 3px;
  color: #a0b0b4;
}*/
#stdProjectStatusUpdates li sub
{
  position: absolute;
  top: 10px; right: 10px;
  color: #a0b0b4;
  font-size: 10px;
}
#stdProjectStatusUpdates .line img
{ 
 /*background: #fafbfb; */
  float: left;
  margin: 1px 5px 0 0;
}
#stdProjectStatusUpdates .status span
{
  font-weight: bold;
  padding: 3px 10px;
  margin: 0 4px;
  background: #0ab1f0;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  color: White;
}
#stdProjectStatusUpdates .post .pic
{
  float: left;
  margin-right: 7px;
}
#stdProjectStatusUpdates .post .pic img
{
  width: 40px;
  height: 40px;
}
#stdProjectStatusUpdates .post p 
{ 
  margin-top: -2px; 
  float: left; 
  color: #777777;
  width: 400px;
}
#stdProjectStatusUpdates .post a
{
  color: #555;
  margin-bottom: 2px;
  font-weight: bold;
  text-decoration: none;
}
#stdProjectStatusUpdates .jobs span
{
  font-weight: bold;
  color: #0ab1f0;
}
#stdProjectStatusUpdates .jobs2 span
{
  font-weight: bold;
}
#overlayNotifications li
{
  padding: 9px 20px 10px 20px;
  padding-right: 0;
  border-bottom: 1px solid #e6eef0;
  margin: 2px 0;
  position: relative;
}
#overlayNotifications .content
{
  padding: 0;
  width: 500px;
}
#overlayNotifications .new
{
  background: #fafbfb;
  border-color: #cad4d7;
  border-right: 3px solid #ed1a96;
}
#overlayNotifications p
{
  color: #717f84;
}
#overlayNotifications .new p
{
  color: Black;
}
#overlayNotifications li sub
{
  color: #a0b0b4;
  font-size: 10px;
}
#overlayNotifications .delete_notification
{
  position: absolute;
  top: 6px; right: 8px;
  opacity: 0.3;
}
#overlayNotifications .new .delete_notification { right: 5px; }
#overlayNotifications .delete_notification:hover { opacity: 1.0; }

#projectprogress .inline .text
{
  width: 130px;
  height: 20px;
  color: #555;
  text-indent: 5px;
  font-size: 12px;
}
#projectprogress .inline li
{
  padding: 7px 0 7px 0;
  overflow: hidden;
  position: relative;
}
#projectprogress .inline li div
{
  cursor: move!important;
  width: 180px;
  padding-left: 36px;
  background: url('/images/drag.png') no-repeat 5px center;
}
#projectprogress .inline .delete
{
  position: absolute;
  top: 13px; right: 0;
}
#projectprogress .inline .delete img
{
  cursor: pointer!important;
  float: left;
}
#projectprogress .inline .placeholder
{
  border: 1px dotted red;
}

a#pickfiles
{
  background: #fafbfb!important;
  cursor: pointer!important;
  color: #555;
}
input[type=file] { cursor:pointer!important; margin-left: -15px; }



