<div id="profildetails">

        <div id="profilhead">
        
      		<h5>Gregor Sams</h5>
            
            
        </div>
        
        <div id="profilinfo">
           
            <p>Studiengang: MMA-B2009</p>
            
            <p>Fachbereich: Mediendesign</p>
        
        </div> 
        
        <div id="profilcontact">
        
        	<h5>Kontakt <div class="edit"><a href="#">Edit</a></div></h5>
        
        	<div class="contactdiv">
            
                <p class="contacttype">E-Mail:</p>
                
                <p class="contact"><a href="#">gsams.mma-b2009@fh-salzburg.ac.at</a><br /><a href="#">kontakt@gregorsams.at</a></p>
            
            </div>
            
            <div class="contactdiv">
            
                <p class="contacttype">Telefon:</p>
                
                <p class="contact">0664/52 49 655</p>
                
            </div>
         
        </div> 
        
        
        
        <div id="projectportfolio">
        
        	<h5>Projektportfolio <div class="edit"><a href="#">Edit</a></div></h5>
            
<div class="portfolioentry">
            
            	<h6>Mediacube Projektplattform</h6>
                
                <p><a href="#">http://projekte.fh-salzburg.ac.at</a></p>
                
                <div class="portfolioimg">
                
                	<img src="#" />
                
                	<img src="#" />
                
                	<img src="#" />
                
            	</div>
                
            </div>

<div class="portfolioentry">
            
            	<h6>Mediacube Projektplattform</h6>
                
                <p><a href="#">http://projekte.fh-salzburg.ac.at</a></p>
                
                <div class="portfolioimg">
                
                	<img src="#" />
                
                	<img src="#" />
                
                	<img src="#" />
                
            	</div>


            
        </div>
        
        </div>
    
        </div>           


<div id="dashboard">

    <div id="dashboardhead">
    	<h2>dashboard</h2> 
<a href="#" >neues Projekt anlegen</a>
</div>
    
    <div id="myproject">
        <h2>meine Projekte</h2>
        
        <div class="project"><img src="img/projektimgmin.jpg">
        <p>Mediacube Projektplattform <br />4 Mitarbeiter</p></div>
        
        <div class="project"><img src="img/projektimgmin.jpg">
        <p>Mediacube Projektplattform <br />4 Mitarbeiter</p></div>
        
        <div class="project"><img src="img/projektimgmin.jpg">
        <p>Mediacube Projektplattform <br />4 Mitarbeiter</p></div>
</div>
    
    <div id="followprojects">
        <h2>beobachtete Projekte</h2>
        
        <div class="project"><img src="img/projektimgmin.jpg">
        <p>Mediacube Projektplattform <br />4 Mitarbeiter</p></div>
        
        <div class="project"><img src="img/projektimgmin.jpg">
        <p>Mediacube Projektplattform <br />4 Mitarbeiter</p></div>
        
        <div class="project"><img src="img/projektimgmin.jpg">
        <p>Mediacube Projektplattform <br />4 Mitarbeiter</p></div>
    </div>
</div>