<div class="ajx"><div class="con">
  <div class="loading"><%= image_tag "loading.gif" %></div>
  <div class="ask">
    <p class="msg">Änderungen übernehmen?</p>
    <%= submit_tag "Übernehmen", :class=>"stdBtn" %>
    <a class="stdBtn no2 close"><p>Abbrechen</p></a>
  </div>
  <div class="success"><%= image_tag "ok.png" %></div>
</div></div>