<% @projects.each do |p| %>
<div class="boxcontent">
  <div class="projectcategory mmt"><%= p.categories.first.label %></div>
  <div class="projectstatus">
    <span class="statusconcept">Konzept</span>
    <span class="statussearch">Gesucht</span>
  </div>
  <div class="projectinfo">
    <h3><%= p.title %></h3>
    <span class="projectimg"><img src="images/projektimg.jpg"></span>
    <span class="infotxt">
      <p><%= p.description %></p>
    </span> 
    <span class="details"><a href="#"><%= link_to 'Details', p %></a></span>
  </div>
  <div class="projectadmin">
    <p class="left">von: <a href="#">Gregor Sams</a></p>
    <p class="right"><b>12</b> Beobachter</p>
  </div>
</div>
<% end %>