<div id="projectdetails">
  <div id="topbar">
    <div id="projectstatus">
      <div class="icon idea">Ideenfindung</div>
      <div class="icon concept">Konzept</div>
      <div class="icon member">Mitarbeiter gesucht</div>
    </div>
    <div id="editbuttons">
      <form>
        <input type="button" name="Statusupdate" value="Statusupdate" />
        <input type="button" name="Projekt bearbeiten" value="Projekt bearbeiten" />
      </form>
    </div>
  </div>
  <div id="projecthead">
	<h5><%= @project.title %><span class="category">Web</span><div class="edit"><a href="#">Edit</a></div></h5>
  </div>
  <div id="projectinfo">
	<span class="img"><img src='../images/projektimg.jpg' alt='' /></span>
	<p><%= @project.description %></p>
  </div>
  <div id="projectupdates">
	<h5>
	  Updates
	  <div class="edit">
		<a href="#">Edit</a></div>
	</h5>
	<div class="update">
	  <div class="projectavatar">
		<img src="#" />
	  </div>
	  <div class="updatecontent">
		<h6>
		  Mediacube Projektplattform</h6>
		<p>
		  <a href="#">Gregor Sams</a> hat 3 neue Bilder hochgeladen.</p>
		<div class="updatemedia">
		  <img src="#" />
		  <img src="#" />
		  <img src="#" />
		</div>
	  </div>
	</div>
	<div class="update">
	  <div class="projectavatar">
		<img src="#" />
	  </div>
	  <div class="updatecontent">
		<h6>
		  Mediacube Projektplattform</h6>
		<p>
		  <a href="#">Tobias Klika</a> ist nun im Projektteam.</p>
		<div class="updatemember">
		  <img src="#" />
		  <p>
			Tobias Klika<br>
			MMT-B2009</p>
		</div>
	  </div>
	</div>
	<div class="update">
	  <div class="projectavatar">
		<img src="#" />
	  </div>
	  <div class="updatecontent">
		<h6>
		  Mediacube Projektplattform</h6>
		<p>
		  <a href="#">Hans Christaian Kogler</a> und <a href="#">Thomas Buchöster</a> sind
		  nun im Projektteam.</p>
		<div class="updatemember">
		  <img src="#" />
		  <p>
			Hans Christian Kogler<br>
			MMA-B2009</p>
		</div>
		<div class="updatemember">
		  <img src="#" />
		  <p>
			Thomas Buchöster<br>
			MMT-B2009</p>
		</div>
	  </div>
	</div>
	<div class="update">
	  <div class="projectavatar">
		<img src="#" />
	  </div>
	  <div class="updatecontent">
		<h6>
		  Mediacube Projektplattform</h6>
		<p>
		  <a href="#">Gregor Sams</a> hat den Projektfortschritt auf Konzeption geändert.</p>
		<div class="updatestatus">
		  <img src="#" />
		  <p>
			Konzeption</p>
		</div>
	  </div>
	</div>
  </div>
  <div id="media">
	<h5>
	  Mediadaten
	  <div class="edit">
		<a href="#">Edit</a></div>
	</h5>
	<p>
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	</p>
  </div>
</div>
<div id="rightbar">
  <div id="projectprogress">
	<h5>
	  Projektfortschritt
	  <div class="edit">
		<a href="#">Edit</a></div>
	</h5>
  </div>
  <div id="searchingmember">
	<h5>
	  Auf der Suche nach
	  <div class="edit">
		<a href="#">Edit</a></div>
	</h5>
	<ul>
	  <li>Web Developer</li>
	  <li>Webdesigner</li>
	</ul>
  </div>
  <div id="teammember">
	<h5>
	  Team
	  <div class="edit">
		<a href="#">Edit</a></div>
	</h5>
	<div id="memberlist">
	  <div class="member">
		<p>
		  Gregor Sams<br>
		  <span>MMA - Mediendesign<br>
			Projektleiter</span></p>
		<img src="#" /></div>
	  <div class="member">
		<p>
		  Hans Christian Kogler<br>
		  <span>MMA - Mediendesign</span></p>
		<img src="#" /></div>
	  <div class="member">
		<p>
		  Thomas Buchöster<br>
		  <span>MMT - Programmierung</span></p>
		<img src="#" /></div>
	  <div class="member">
		<p>
		  Tobias Klika<br>
		  <span>MMT - Programmierung</span></p>
		<img src="#" /></div>
	</div>
  </div>
  <div id="follower">
	<h5>
	  Beobachter
	  <div class="edit">
		<a href="#">Edit</a></div>
	</h5>
	<div id="followerlist">
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	</div>
  </div>
</div>
</div>