<div id="sidebar">
  
</div>

<div id="projectdetails">
	<%= link_to "neues Medium hochladen", new_project_medium_path %>
	<div id="media">
	<h5>Mediadaten</h5>
	<p>
		<% @media.each do |m| %>
	  	<%= link_to image_tag(m.asset.url(:large)), project_media_path %>
		<% end %>
	</p>
	</div>
</div>
