<div id="contentwrapper">
  
		<div style="margin-left: 150px;">
			
			<h1>Neue Mediadaten hochladen</h1>
		  <br/>
			<%= render :partial => 'upload_form', :locals => { :multiple_queues => true, :auto_upload => false } %>
		</div>
</div>