<div id="contentwrapper">
	
		<div style="margin-left: 150px;">
			
			<h1>Neue Mediadaten hochladen</h1>
		  <br/>
			<%= render :partial => 'media/upload_form', :locals => { :multiple_queues => true, :auto_upload => (params[:build_cover].nil? ? false : params[:build_cover]), :build_project_cover => (params[:build_cover].nil? ? false : params[:build_cover]) } %>
		</div>
</div>