<div id="sidebar">
  
</div>
<div id="rightbar">

</div>
<div id="projectdetails">
	<%= link_to "neues Medium hochladen", new_project_medium_path %>
	<div id="media">
	<h5>Mediadaten</h5>
	<p>
	  	<%= image_tag @medium.asset.url(:cover) %>
	</p>
	</div>
</div>